api:
  dashboard: true
  insecure: true

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  file:
    directory: "./middlewares.yml"
    watch: true

  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    watch: true
    network: traefik-network

  consulCatalog:
    defaultRule: "Headers(`X-Service`, `{{ .Name }}`)"
    exposedByDefault: true
    endpoint:
      address: "consul:8500"

log:
  level: INFO

accessLog: {}

metrics:
  prometheus: {}
