api:
  dashboard: true
  insecure: true

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    watch: true
    network: traefik-network

  consul:
    endpoints:
      - "consul:8500"
    rootKey: "traefik"
    refreshInterval: "30s"

log:
  level: INFO

accessLog: {}

metrics:
  prometheus: {}
