api:
  dashboard: true
  insecure: true

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    watch: true
    network: traefik-network

  consulCatalog:
    defaultRule: "Header(`X-Service`, `{{ .Name }}`)"
    exposedByDefault: true
    endpoint:
      address: "consul:8500"
    rootKey: "traefik"

log:
  level: INFO

accessLog: {}

metrics:
  prometheus: {}
