http:
  middlewares:
    cors-global:
      headers:
        accessControlAllowOriginList:
          - "*"
        accessControlAllowMethods:
          - "*"
        accessControlAllowHeaders:
          - "*"
        accessControlExposeHeaders:
          - "*"
        accessControlMaxAge: 100
        addVaryHeader: true
